@charset "UTF-8";

html {
    scroll-behavior: smooth;
    font-size: 0.5208vw;
}

body{
    margin: 0;
}

h1{
    font-size: 10rem;
    color: white;
    font-family: "HGP行書体", "MS P明朝", "MS PMincho", serif;
}

h2{
    font-size: 5rem;
    font-weight: 600;
    color: #20303f;
}

p{
    color: #393939;
    font-size: 2rem
}

a{
    color: #393939;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

a:hover{
    color: #edcd20;
    transition: all .2s ease-in-out;
}

ul{
    margin: 0;
}

li{
    list-style: none;
}

.sp_only{
    display: none;
}

/* ヘッダー */

header{
    background: #1d2d3c;
    padding: 3rem;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: calc(100% - 6rem);
}

header nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4rem;
}

header nav ul li{
    margin-left: 4rem;
}

header nav ul li a{
    font-size: 2.5rem;
    color: white;
}

/* キービジュアル */

.kv{
    width: 100%;
    text-align: center;
    padding: 22rem 0;
    height: calc(100vh - 44rem);
}

.kv h2{
    color: white;
}

#video-area{
    position: fixed;
    z-index: -1;/*最背面に設定*/
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;
}

.is_fixed{
    opacity: 0;
}

#video {
    /*天地中央配置*/
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 177.9vw; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 56.2vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    min-height: 100%;
    min-width: 100%;
}

/* サービス */

#service{
    background: white;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#service .wrap{
    max-width: 1440px;
}

#service .wrap h2{
    text-align: center;
    position: relative;
    padding-bottom: 1.3rem;
}

#service .wrap h2::after{
    position: absolute;
    content: "";
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    height: 1rem;
    width: 10rem;
    background: #edcd20;
}

#service .wrap .service_content{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#service .wrap .service_content div{
    margin: 1rem;
    width: 40%;
    background: #f7f7f7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#service .wrap .service_content div img{
    width: 100%;
}

/* about */

#about{
    margin: 0;
    background: url("img/about_bg.jpg") center right/cover no-repeat;
}

#about .about_conotent{
    background: #f7f7f7;
    width: 50%;
    padding: 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#about .about_conotent h2{
    padding-right: 1rem;
    position: relative;
    padding-bottom: 1.3rem;
}

#about .about_conotent h2::after{
    position: absolute;
    content: "";
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    height: 1rem;
    width: 10rem;
    background: #edcd20;
}

#about .about_conotent .about_inner{
    width: 50%;
}

#about .about_conotent .about_inner .about_table{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -10rem;
}

#about .about_conotent .about_inner .about_table .table_left{
    width: 30%;
}

/* 実績 */

#achiev{
    margin: 0;
    background: white;
    padding: 5rem 0;
}

#achiev h2{
    font-size: 4rem;
    padding-bottom: 1.5rem;
    text-align: center;
    position: relative;
}

#achiev h2::after{
    position: absolute;
    content: "";
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    height: 1rem;
    width: 15rem;
    background: #edcd20;
}

#achiev .wrap{
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#achiev .wrap p{
    width: 80%;
    margin: 3rem auto 10rem;
}

#achiev .wrap div{
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 1440px;
}

#achiev .wrap div img{
    margin: 1rem;
    max-width: 48rem;
}

/* お問い合わせ */

#contact{
    margin: 0;
    background: white;
    padding: 5rem 0;
}

#contact .wrap{
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact h2{
    padding-bottom: 1.5rem;
    text-align: center;
    position: relative;
}

#contact h2::after{
    position: absolute;
    content: "";
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    height: 1rem;
    width: 15rem;
    background: #edcd20;
}

#contact .wrap .contact_inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 5rem;
}

#contact .wrap .contact_inner .conotact_flex{
    width: 40%;
}

#contact .wrap .contact_inner div h3{
    font-size: 2.5rem;
    font-weight: 300;
}

#contact .wrap .contact_inner div h4{
    position: relative;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 10rem;
    padding-top: 10rem;
}

#contact .wrap .contact_inner div h4::before{
    position: absolute;
    content: "";
    height: 1rem;
    width: 15rem;
    top: 0;
    left: 0;
    background: #edcd20;

}

#contact .wrap .contact_inner div p{
    font-size: 2rem;
}

#contact .wrap .contact_inner .conotact_flex .join{
    margin-top: 5rem;
}

/* フォーム */

#contact .wrap .contact_inner .conotact_flex .formrun .form_content{
    margin: 2rem 0;
}

label{
    font-size: 2rem;
    color: #393939;
}

input{
    width: calc(100% - 1rem);
    height: 3rem;
    background: #f7f7f7;
    font-size: 2rem;
    padding: .5rem;
    border: 1px solid #1d2d3c;
}

::placeholder {
    color: #4d6370;
}
  /* 旧Edge対応 */
  ::-ms-input-placeholder {
    color: #4d6370;
}
  /* IE対応 */
  :-ms-input-placeholder {
    color: #4d6370;
}

textarea{
    width: calc(100% - 1rem);
    height: 10rem;
    background: #f7f7f7;
    font-size: 2rem;
    padding: .5rem;
    border: 1px solid #1d2d3c;
}

button{
    background-color: #1d2d3c;
    color: #edcd20;
    font-size: 2rem;
    padding: 1.5rem 5rem;
    display: block;
    margin: 0 0 0 auto;
    border: none;
    transition: all .2s ease-in-out;
}

button:hover{
    background-color: #edcd20;
    color: #1d2d3c;
    transition: all .2s ease-in-out;
}

.error{
    font-size: 1.5rem;
    color: red;
}

.copylight{
    background: white;
    margin: 0;
    text-align: right;
    font-size: 1.5rem;
}

@media screen and (min-width:768px) and (max-width:1439px){
    html{
        font-size: 1vw;
    }

    #video{
        width: auto;
        height: 100vh;
    }

    #about .about_conotent .about_inner{
        width: 70%;
    }

}

@media screen and (max-width:767px) {
    h1{
        font-size: 15rem;
    }
    
    h2{
        font-size: 12rem;
        font-weight: 600;
    }
    
    p{
        font-size: 7.6rem
    }

    .pc_only{
        display: none;
    }

    .sp_only{
        display: block;
    }

    header{
        position: fixed;
        height: 25rem;
    }

    header nav ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    header nav ul li a{
        font-size: 14rem;
    }

    #nav{
        position: fixed;
        height: 100vh;
        width: 100%;
        right: -100%;
        top: 0;
        background: #1d2d3c;
        transition: all .7s ease-in-out;
    }

    #nav ul{
        height: 100%;
    }
    
    #nav ul li{
        list-style-type: none;
        color: white;
        margin: 10rem auto;
    }

    #hamburger {
        position: fixed;
        top: 7rem;
        right: 20rem;
        width: 20rem;
        height: 15rem;
        transition: all 1s ease-out;
    }

    .inner_line {
        display: block;
        position: absolute;
        left: 0;
        width: 20rem;
        height: 3px;
        background-color: white;
        transition: all 1s ease-out;
        border-radius: 4px;
    }

    #line1 {
        top: 0;
    }

    #line2 {
        top: 50%;
    }

    #line3 {
        bottom: 0px;
    }

    .in{
        transform: translateX(-100%);
    }

    .line_1,.line_2,.line_3{
        background: white;
    }

    .line_1 {
        transform: translateY(6.5rem) rotate(-45deg);
        top: 0;
    }

    .line_2 {
        opacity: 0;
    }
    
    .line_3 {
        transform: translateY(-6.5rem) rotate(45deg);
        bottom: 0;
    }

    /* kv */


    .kv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .kv h2{
        margin-bottom: 100rem;
    }

    .kv a img{
        width: 40rem;
    }

    #video-area{
        height: 100vh;
        overflow: hidden;
    }

    #video{
        width: auto;
        height: 100vh;
        min-width: unset;
        min-height: unset;
        overflow: hidden;
    }

    /* サービス */

    #service .wrap h2{
        padding-bottom: 5rem;
    }

    #service .wrap h2::after{
        width: 20rem;
        height: 2rem;
    }

    #service .wrap .service_content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #service .wrap .service_content div{
        width: 75%;
        margin: 10rem;
    }

    /* about */
    #about .about_conotent h2{
        padding-bottom: 5rem;
    }

    #about .about_conotent h2::after{
        width: 20rem;
        height: 2rem;
    }

    #about .about_img{
        width: 100vw;
    }

    #about .about_conotent{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #about .about_conotent .about_inner{
        width: 75%;
    }

    #about .about_conotent .about_inner .about_table{
        margin-left: 0;
    }

    /* 実績 */

    #achiev h2{
        font-size: 7rem;
        padding-bottom: 5rem;
        text-align: center;
        position: relative;
    }

    #achiev h2::after{
        width: 40rem;
        height: 2rem;
    }
    
    #achiev .wrap p{
        width: 80%;
        margin: 3rem auto 10rem;
    }
    
    #achiev .wrap div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #achiev .wrap div img{
        margin: 10rem;
        max-width: 75%;
    }

    /* コンタクト */
    #contact h2{
        padding-bottom: 5rem;
    }
    
    #contact h2::after{
        height: 2rem;
        width: 20rem;
    }
    #contact .wrap .contact_inner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contact .wrap .contact_inner .conotact_flex{
        width: 75%;
    }
    
    #contact .wrap .contact_inner div h3{
        font-size: 10rem;
    }
    
    #contact .wrap .contact_inner div h4{
        font-size: 8rem;
    }
    
    #contact .wrap .contact_inner div h4::before{
        height: 2rem;
        width: 20rem;
    }
    
    #contact .wrap .contact_inner div p{
        font-size: 6.5rem;
    }
    
    #contact .wrap .contact_inner .conotact_flex .join{
        margin-top: 5rem;
    }

    /* フォーム */
    #contact .wrap .contact_inner .conotact_flex .formrun .form_content{
        margin: 2rem 0;
    }
    
    label{
        font-size: 6.5rem;
    }
    
    input{
        height: 10rem;
        font-size: 6.5rem;
    }
    
    ::placeholder {
        color: #4d6370;
    }
      /* 旧Edge対応 */
      ::-ms-input-placeholder {
        color: #4d6370;
    }
      /* IE対応 */
      :-ms-input-placeholder {
        color: #4d6370;
    }
    
    textarea{
        height: 40rem;
        font-size: 6.5rem;
    }
    
    button{
        font-size: 6.5rem;
        padding: 2rem 6rem;
    }
    
    .error{
        font-size: 6.5rem;
    }
    
    .copylight{
        font-size: 5rem;
    }
}